<div class="register-container">
  <h2>Registro de Restaurante</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Correo Electrónico:</label>
      <input type="email" formControlName="email" placeholder="ejemplo@restaurante.com">
    </div>
    
    <div>
      <label>Contraseña (mín. 6 caracteres):</label>
      <input type="password" formControlName="password">
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Crear Cuenta</button>
  </form>

  <p>¿Ya tienes cuenta? <a routerLink="/auth/login">Inicia sesión aquí</a></p>
</div>