<div class="reset-container">
  <h2>Establecer nueva contraseña</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onReset()">
    <input type="password" formControlName="password" placeholder="Nueva contraseña">
    <input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña">
    
    <p *ngIf="resetForm.errors?.['mismatch']" style="color: red;">Las contraseñas no coinciden</p>
    
    <button type="submit" [disabled]="resetForm.invalid">Guardar y Entrar</button>
  </form>
</div>