<div class="auth-wrapper animate-up">
  <div class="glass-card">
    <div class="brand-logo">🔪 <h2>Cheff Lima</h2></div>
    
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="input-group">
        <input type="email" formControlName="email" placeholder=" " id="email">
        <label for="email">Correo Electrónico</label>
      </div>
      
      <div class="input-group">
        <input type="password" formControlName="password" placeholder=" " id="pass">
        <label for="pass">Contraseña</label>
      </div>

      <button type="submit" class="btn-primary-mobile btn-tap" [disabled]="loginForm.invalid">
        Entrar a mi Cocina
      </button>
    </form>

    <div class="auth-footer">
      <button (click)="onForgotPassword()" class="link-btn">¿Olvidaste tu clave?</button>
      <p>¿Nuevo aquí? <a routerLink="/auth/register">Regístrate</a></p>
    </div>
  </div>
</div>